# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/clean/*
outputs/*

# Keep folders
!data/raw/.gitkeep
!data/clean/.gitkeep
!outputs/.gitkeep

# Environment
.env
.venv/
venv/

# OS
.DS_Store